In [21]:
%%time
import pandas as pd

df_transact_train = pd.read_csv('train_transaction.csv')

low_null_columns = (df_transact_train.isnull().sum()/len(df_transact_train)*100) < 1

low_nan_columns = []
index = 0
for column in low_null_columns:
    if column == True:
        low_nan_columns.append(low_null_columns.index[index])
    index += 1
    
df_low_nans = df_transact_train.loc[:, low_nan_columns]
df_no_nans = df_low_nans.dropna()

df_transact_train = df_no_nans

Trans_RAW = df_transact_train.iloc[:,:25]

Trans_FE = df_transact_train.iloc[:,25:]
Trans_FE['TransactionID'] = df_transact_train['TransactionID']
Trans_FE['isFraud'] = df_transact_train['isFraud']
Trans_RAW.head()

Wall time: 26.3 s

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card3,card4,card5,card6,...,C6,C7,C8,C9,C10,C11,C12,C13,C14,D1
0,2987000,0,86400,68.5,W,13926,150.0,discover,142.0,credit,...,1.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,14.0
1,2987001,0,86401,29.0,W,2755,150.0,mastercard,102.0,credit,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,2987002,0,86469,59.0,W,4663,150.0,visa,166.0,debit,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,2987003,0,86499,50.0,W,18132,150.0,mastercard,117.0,debit,...,4.0,0.0,0.0,1.0,0.0,1.0,0.0,25.0,1.0,112.0
4,2987004,0,86506,50.0,H,4497,150.0,mastercard,102.0,credit,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0

In [25]:

from random import sample

mask = Trans_RAW['isFraud'] == 1

Trans_RAW_Fraud = Trans_RAW[mask]
Trans_RAW_Non = Trans_RAW[-mask]

Trans_RAW_NonFraud = Trans_RAW_Non.sample(n = 20394)

df_train_balanced = pd.concat([Trans_RAW_NonFraud, Trans_RAW_Fraud])

print (len(Trans_RAW_Fraud))
print (len(Trans_RAW_NonFraud))
print (len(df_train_balanced))

20394
20394
40788

In [26]:
df_train_balanced.to_csv('new train data.csv')